<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Title</label>
  <div class="col-sm-4">
    <input type="text" id="title" ng-model="todo.title" class="form-control" required>
  </div>
</div>

<div class="form-group">
  <label for="body" class="col-sm-2 control-label">Body</label>
  <div class="col-sm-4">
    <input type="text" id="body" ng-model="todo.body" class="form-control" required>
  </div>
</div>

<div class="form-group">
  <label for="done" class="col-sm-2 control-label" translate>Done</label>
  <div class="col-sm-4">
    <input type="checkbox" id="done" ng-model="todo.done">
  </div>
</div>
