<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-links">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="#/" class="navbar-brand">TodoApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="navbar-links" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript:void(0)" dropdown data-toggle="dropdown">Todos <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/">List</a></li>
            <li><a href="#/todos/create">Create</a></li>
          </ul>
        </li>

        <li><a href="#/about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:void(0)" dropdown data-toggle="dropdown">
            <span class="glyphicon glyphicon-globe"></span> Language <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Français‎</a></li>
            <li><a href="javascript:void(0)">English</a></li>
          </ul>
        </li>

        <li><a href="#/config"><span class="glyphicon glyphicon-cog"></span></a></li>

        <li class="dropdown">
          <a href="javascript:void(0)" dropdown data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> User <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:void(0)">
                <span class="glyphicon glyphicon-log-out"></span> Sign out
              </a>
            </li>
          </ul>
        </li>

      </ul>

    </div>

  </div>
</nav>
